:root {
	--base-color: #add8e6;
	--button-color: #5a84d3;
	--table-color: #0f5d7083;
	--base-blue: #add8e6;
	--table-blue: #0f5d7083;
	--button-blue: #5a84d3;
	--base-green: #97da9a;
	--button-green: #21bd0d;
	--table-green: #156128;
	--base-purple: #d398f3;
	--button-purple: #b33af5;
	--table-purple: #8950a8;
	--base-red: #f08e8a;
	--button-red: #cf3d23;
	--table-red: #8a3b2c;

}

body {
	background-color: var(--base-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
	margin-top: 0em;
	margin-bottom: .5em;
}

p {
	margin-top: 0;
	margin-bottom: .5em;
	font-size: 1em;
	font-weight: bold;
}

button {
	font-size: 1em;
	font-weight: bold;
	border-radius: 6px;
	background-color: var(--button-color);
	padding: .25em;
	margin-right: .5em;
	margin-bottom: 2em;
}

table {
	border: 2px black solid;
	border-spacing: .5px;
	background-color: var(--table-color);
}

td {
	border: 1px solid black;
	height: 1.5em;
	width: 1.2em;
}

#game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#game {
	display: flex;
}

#gameboard {
	margin-right: 10vh;
}

#game-info {
	margin-left: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#music {
	margin-left: 34px;
}

#blue, #green, #red, #purple {
	margin-bottom: 4px;
	width: 60px;
}

#blue {
	background-color: #5a84d3;
}

#green {
	background-color: #21bd0d;
}

#red {
	background-color: #cf3d23;
}

#purple {
	background-color: #b33af5;
}

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}
.cyan {
	background-color: cyan;
}
.yellow {
	background-color: yellow;
}
.orange {
	background-color: orange;
}
.purple {
	background-color: purple;
}

.ross-geller {
	background-image: url(./images/RossGeller2.jpg);
	background-size: cover;
}

.bob-ross {
	background-image: url(./images/BobRossBlock.png);
	background-size: cover;
}

.rick-ross {
	background-image: url(./images/RickRossBlock.png);
	background-size: cover;
}

#upper-buttons {
	display: flex;
	margin-top: 10px;
	gap: 4px
}

#mobile-left, #mobile-right {
	background-color: white;
	width: 60px;
	height: 72px;
	margin: 0;
}

#center-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#mobile-rotate, #mobile-down {
	background-color: white;
	width: 60px;
	height: 34px;
	margin: 0;
}

#mobile-drop {
	background-color: white;
	display: block;
	width: 100%;
	height: 32px;
	margin-top: 4px;
}

@media (max-width:840px) {
	td {
		height: 1em;
		width: .8em;
	}

	button {
		margin: 0 0 5px 0;
		font-size: small;
	}

	#gameboard {
		margin: 0
	}

	#controls {
		display: none;
	}
}

@media (min-width: 840px) {
	#mobile-controls {
		display: none
	}
}
