td {
	border: 1px solid black;
	height: 1em;
	width: .8em;
}

table {
	border-spacing: 0px;
}

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}
.purple {
	background-color: purple;
}